# GENDER CLEAN_UP PROCESS

In [21]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [22]:
csv_path = "./maryland_covid19-gender_vaccination.csv"
df = pd.read_csv(csv_path)

In [24]:
df.head()

,OBJECTID,VACCINATION_DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021/04/13 15:00:00+00,Federal Entities,84295,84295,54201.0,54201,2952.0,2952
1,2,2021/04/14 15:00:00+00,Federal Entities,557,84852,11.0,54212,1.0,2953
2,3,2021/04/15 15:00:00+00,Federal Entities,623,85475,823.0,55035,19.0,2972
3,4,2021/04/16 15:00:00+00,Federal Entities,782,86257,1016.0,56051,8.0,2980
4,5,2021/04/17 15:00:00+00,Federal Entities,1136,87393,1177.0,57228,6.0,2986

In [25]:
df = df.reset_index(drop=True)
df.head()

,OBJECTID,VACCINATION_DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021/04/13 15:00:00+00,Federal Entities,84295,84295,54201.0,54201,2952.0,2952
1,2,2021/04/14 15:00:00+00,Federal Entities,557,84852,11.0,54212,1.0,2953
2,3,2021/04/15 15:00:00+00,Federal Entities,623,85475,823.0,55035,19.0,2972
3,4,2021/04/16 15:00:00+00,Federal Entities,782,86257,1016.0,56051,8.0,2980
4,5,2021/04/17 15:00:00+00,Federal Entities,1136,87393,1177.0,57228,6.0,2986

In [26]:
df["OBJECTID"] = np.arange(1,df.shape[0]+1)
df.head()

,OBJECTID,VACCINATION_DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021/04/13 15:00:00+00,Federal Entities,84295,84295,54201.0,54201,2952.0,2952
1,2,2021/04/14 15:00:00+00,Federal Entities,557,84852,11.0,54212,1.0,2953
2,3,2021/04/15 15:00:00+00,Federal Entities,623,85475,823.0,55035,19.0,2972
3,4,2021/04/16 15:00:00+00,Federal Entities,782,86257,1016.0,56051,8.0,2980
4,5,2021/04/17 15:00:00+00,Federal Entities,1136,87393,1177.0,57228,6.0,2986

In [28]:
columnsplit = df['VACCINATION_DATE'].str.split(' ',n=1, expand=True)
# Assigning Column 0 to DATE
df = df.assign(VACCINATION_DATE=columnsplit[0])
df.head()

,OBJECTID,VACCINATION_DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021/04/13,Federal Entities,84295,84295,54201.0,54201,2952.0,2952
1,2,2021/04/14,Federal Entities,557,84852,11.0,54212,1.0,2953
2,3,2021/04/15,Federal Entities,623,85475,823.0,55035,19.0,2972
3,4,2021/04/16,Federal Entities,782,86257,1016.0,56051,8.0,2980
4,5,2021/04/17,Federal Entities,1136,87393,1177.0,57228,6.0,2986

In [32]:
import datetime as dt
df['VACCINATION_DATE'] = pd.to_datetime(df["VACCINATION_DATE"], format='%Y/%m/%d')
df.head()

,OBJECTID,VACCINATION_DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021-04-13,Federal Entities,84295,84295,54201.0,54201,2952.0,2952
1,2,2021-04-14,Federal Entities,557,84852,11.0,54212,1.0,2953
2,3,2021-04-15,Federal Entities,623,85475,823.0,55035,19.0,2972
3,4,2021-04-16,Federal Entities,782,86257,1016.0,56051,8.0,2980
4,5,2021-04-17,Federal Entities,1136,87393,1177.0,57228,6.0,2986

In [33]:
df.dtypes

OBJECTID                         int64
VACCINATION_DATE        datetime64[ns]
Gender                          object
FirstDoseDaily                   int64
FirstDoseCumulative              int64
SecondDoseDaily                float64
SecondDoseCumulative             int64
SingleDoseDaily                float64
SingleDoseCumulative             int64
dtype: object

In [35]:
df.rename(columns={"OBJECTID":"ID", "VACCINATION_DATE":"DATE"},inplace=True)
df.head()

,ID,DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021-04-13,Federal Entities,84295,84295,54201.0,54201,2952.0,2952
1,2,2021-04-14,Federal Entities,557,84852,11.0,54212,1.0,2953
2,3,2021-04-15,Federal Entities,623,85475,823.0,55035,19.0,2972
3,4,2021-04-16,Federal Entities,782,86257,1016.0,56051,8.0,2980
4,5,2021-04-17,Federal Entities,1136,87393,1177.0,57228,6.0,2986

In [36]:
df.isnull().sum()

ID                        0
DATE                      0
Gender                    0
FirstDoseDaily            0
FirstDoseCumulative       0
SecondDoseDaily          34
SecondDoseCumulative      0
SingleDoseDaily         249
SingleDoseCumulative      0
dtype: int64

Connecting to DB

In [42]:
from config import password, username
connection_string = f"postgres:{password}@localhost:5432/covid19_MD_Data"
engine = create_engine(f'postgresql://{connection_string}')

ImportError: cannot import name 'username' from 'config' (/Users/robinmevans/Documents/GitHub/Vaccination-Distribution-Effects-on-Infection-Rates-in-Maryland/Resources/config.py)

In [41]:
engine.table_names()