In [39]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password

In [40]:
connection_string = f"udxenurz:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['cases', 'vaccinations']

In [41]:
df =pd.read_sql_query('select * from cases', con=engine)

In [42]:
df

          ID        DATE     County  Confirmed_cases
0          1  2020-03-15   Allegany                0
1          2  2020-03-16   Allegany                0
2          3  2020-03-17   Allegany                0
3          4  2020-03-18   Allegany                0
4          5  2020-03-19   Allegany                0
...      ...         ...        ...              ...
10459  10460  2021-05-20  Worcester             3615
10460  10461  2021-05-21  Worcester             3616
10461  10462  2021-05-22  Worcester             3617
10462  10463  2021-05-23  Worcester             3619
10463  10464  2021-05-24  Worcester             3619

[10464 rows x 4 columns]

In [43]:
df["County"]= df["County"].astype(str)

In [44]:
counties = [{'county':"Allegany","coordinates":[39.6255251,-78.6114999]},{'county':"Anne_Arundel","coordinates":[38.9530109,-76.5488232]},{'county':"Baltimore","coordinates":[39.4647665,-76.7336521]},{'county':"Baltimore_City","coordinates":[39.2903848,-76.6121893]},{'county':"Calvert","coordinates":[38.49495030000001,-76.5025742]},{'county':"Caroline","coordinates":[38.9105018,-75.8533954]},{'county':"Carroll","coordinates":[39.5423418,-77.0564464]},{'county':"Cecil","coordinates":[39.5739403,-75.94632399999999]},{'county':"Charles","coordinates":[38.5221781,-77.10249019999999]},{'county':"Dorchester","coordinates":[38.4152819,-76.17837390000001]},{'county':"Frederick","coordinates":[39.3844507,-77.4701972]},{'county':"Garrett","coordinates":[39.5681243,-79.29021329999999]},{'county':"Harford","coordinates":[39.5838964,-76.3637285]},{'county':"Howard","coordinates":[39.2873463,-76.964306]},{'county':"Kent","coordinates":[39.2713804,-76.1319953]},{'county':"Montgomery","coordinates":[39.1547426,-77.2405153]},{'county':"Prince_Georges","coordinates":[38.78492110000001,-76.8720961]},{'county':"Queen_Annes","coordinates":[39.0263572,-76.1319953]},{'county':"Somerset","coordinates":[38.0862333,-75.8533954]},{'county':"St_Marys","coordinates":[38.1060259,-76.3637285]},{'county':"Talbot","coordinates":[38.7803973,-76.1319953]},{'county':"Washington","coordinates":[39.641762,-77.719993]},{'county':"Wicomico","coordinates":[38.3941813,-75.667356]},{'county':"Worcester","coordinates":[38.1584227,-75.4344727]},]

In [45]:
for county in counties:
    print(county)

{'county': 'Allegany', 'coordinates': [39.6255251, -78.6114999]}
{'county': 'Anne_Arundel', 'coordinates': [38.9530109, -76.5488232]}
{'county': 'Baltimore', 'coordinates': [39.4647665, -76.7336521]}
{'county': 'Baltimore_City', 'coordinates': [39.2903848, -76.6121893]}
{'county': 'Calvert', 'coordinates': [38.49495030000001, -76.5025742]}
{'county': 'Caroline', 'coordinates': [38.9105018, -75.8533954]}
{'county': 'Carroll', 'coordinates': [39.5423418, -77.0564464]}
{'county': 'Cecil', 'coordinates': [39.5739403, -75.94632399999999]}
{'county': 'Charles', 'coordinates': [38.5221781, -77.10249019999999]}
{'county': 'Dorchester', 'coordinates': [38.4152819, -76.17837390000001]}
{'county': 'Frederick', 'coordinates': [39.3844507, -77.4701972]}
{'county': 'Garrett', 'coordinates': [39.5681243, -79.29021329999999]}
{'county': 'Harford', 'coordinates': [39.5838964, -76.3637285]}
{'county': 'Howard', 'coordinates': [39.2873463, -76.964306]}
{'county': 'Kent', 'coordinates': [39.2713804, -76.1319953]}
{'county': 'Montgomery', 'coordinates': [39.1547426, -77.2405153]}
{'county': 'Prince_Georges', 'coordinates': [38.78492110000001, -76.8720961]}
{'county': 'Queen_Annes', 'coordinates': [39.0263572, -76.1319953]}
{'county': 'Somerset', 'coordinates': [38.0862333, -75.8533954]}
{'county': 'St_Marys', 'coordinates': [38.1060259, -76.3637285]}
{'county': 'Talbot', 'coordinates': [38.7803973, -76.1319953]}
{'county': 'Washington', 'coordinates': [39.641762, -77.719993]}
{'county': 'Wicomico', 'coordinates': [38.3941813, -75.667356]}
{'county': 'Worcester', 'coordinates': [38.1584227, -75.4344727]}

In [46]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [47]:
last_date = df[df['DATE'] == '2021-05-22']

In [48]:
last_date

          ID       DATE          County  Confirmed_cases
433      434 2021-05-22        Allegany             6971
869      870 2021-05-22    Anne_Arundel            43617
1305    1306 2021-05-22       Baltimore            65361
1741    1742 2021-05-22  Baltimore_City            52627
2177    2178 2021-05-22         Calvert             4203
2613    2614 2021-05-22        Caroline             2330
3049    3050 2021-05-22         Carroll             9448
3485    3486 2021-05-22           Cecil             6261
3921    3922 2021-05-22         Charles            10767
4357    4358 2021-05-22      Dorchester             2816
4793    4794 2021-05-22       Frederick            19714
5229    5230 2021-05-22         Garrett             2026
5665    5666 2021-05-22         Harford            16498
6101    6102 2021-05-22          Howard            19158
6537    6538 2021-05-22            Kent             1345
6973    6974 2021-05-22      Montgomery            70677
7409    7410 2021-05-22  Prince_Georges            84746
7845    7846 2021-05-22     Queen_Annes             2979
8281    8282 2021-05-22        Somerset             2600
8717    8718 2021-05-22        St_Marys             6001
9153    9154 2021-05-22          Talbot             2152
9589    9590 2021-05-22      Washington            14512
10025  10026 2021-05-22        Wicomico             7622
10461  10462 2021-05-22       Worcester             3617

In [49]:
temp = last_date.loc[last_date['County'] == "Washington"]
temp

        ID       DATE      County  Confirmed_cases
9589  9590 2021-05-22  Washington            14512

In [53]:
for county in counties:
    temp = last_date[last_date['County'] == county['county']]['Confirmed_cases'].item()
    county['fully_vaccinated'] = temp
counties

[{'county': 'Allegany',
  'coordinates': [39.6255251, -78.6114999],
  'fully_vaccinated': 6971},
 {'county': 'Anne_Arundel',
  'coordinates': [38.9530109, -76.5488232],
  'fully_vaccinated': 43617},
 {'county': 'Baltimore',
  'coordinates': [39.4647665, -76.7336521],
  'fully_vaccinated': 65361},
 {'county': 'Baltimore_City',
  'coordinates': [39.2903848, -76.6121893],
  'fully_vaccinated': 52627},
 {'county': 'Calvert',
  'coordinates': [38.49495030000001, -76.5025742],
  'fully_vaccinated': 4203},
 {'county': 'Caroline',
  'coordinates': [38.9105018, -75.8533954],
  'fully_vaccinated': 2330},
 {'county': 'Carroll',
  'coordinates': [39.5423418, -77.0564464],
  'fully_vaccinated': 9448},
 {'county': 'Cecil',
  'coordinates': [39.5739403, -75.94632399999999],
  'fully_vaccinated': 6261},
 {'county': 'Charles',
  'coordinates': [38.5221781, -77.10249019999999],
  'fully_vaccinated': 10767},
 {'county': 'Dorchester',
  'coordinates': [38.4152819, -76.17837390000001],
  'fully_vaccinated': 2816},
 {'county': 'Frederick',
  'coordinates': [39.3844507, -77.4701972],
  'fully_vaccinated': 19714},
 {'county': 'Garrett',
  'coordinates': [39.5681243, -79.29021329999999],
  'fully_vaccinated': 2026},
 {'county': 'Harford',
  'coordinates': [39.5838964, -76.3637285],
  'fully_vaccinated': 16498},
 {'county': 'Howard',
  'coordinates': [39.2873463, -76.964306],
  'fully_vaccinated': 19158},
 {'county': 'Kent',
  'coordinates': [39.2713804, -76.1319953],
  'fully_vaccinated': 1345},
 {'county': 'Montgomery',
  'coordinates': [39.1547426, -77.2405153],
  'fully_vaccinated': 70677},
 {'county': 'Prince_Georges',
  'coordinates': [38.78492110000001, -76.8720961],
  'fully_vaccinated': 84746},
 {'county': 'Queen_Annes',
  'coordinates': [39.0263572, -76.1319953],
  'fully_vaccinated': 2979},
 {'county': 'Somerset',
  'coordinates': [38.0862333, -75.8533954],
  'fully_vaccinated': 2600},
 {'county': 'St_Marys',
  'coordinates': [38.1060259, -76.3637285],
  'fully_vaccinated': 6001},
 {'county': 'Talbot',
  'coordinates': [38.7803973, -76.1319953],
  'fully_vaccinated': 2152},
 {'county': 'Washington',
  'coordinates': [39.641762, -77.719993],
  'fully_vaccinated': 14512},
 {'county': 'Wicomico',
  'coordinates': [38.3941813, -75.667356],
  'fully_vaccinated': 7622},
 {'county': 'Worcester',
  'coordinates': [38.1584227, -75.4344727],
  'fully_vaccinated': 3617}]

In [54]:
import json
json.dumps(counties)

'[{"county": "Allegany", "coordinates": [39.6255251, -78.6114999], "fully_vaccinated": 6971}, {"county": "Anne_Arundel", "coordinates": [38.9530109, -76.5488232], "fully_vaccinated": 43617}, {"county": "Baltimore", "coordinates": [39.4647665, -76.7336521], "fully_vaccinated": 65361}, {"county": "Baltimore_City", "coordinates": [39.2903848, -76.6121893], "fully_vaccinated": 52627}, {"county": "Calvert", "coordinates": [38.49495030000001, -76.5025742], "fully_vaccinated": 4203}, {"county": "Caroline", "coordinates": [38.9105018, -75.8533954], "fully_vaccinated": 2330}, {"county": "Carroll", "coordinates": [39.5423418, -77.0564464], "fully_vaccinated": 9448}, {"county": "Cecil", "coordinates": [39.5739403, -75.94632399999999], "fully_vaccinated": 6261}, {"county": "Charles", "coordinates": [38.5221781, -77.10249019999999], "fully_vaccinated": 10767}, {"county": "Dorchester", "coordinates": [38.4152819, -76.17837390000001], "fully_vaccinated": 2816}, {"county": "Frederick", "coordinates": [39.3844507, -77.4701972], "fully_vaccinated": 19714}, {"county": "Garrett", "coordinates": [39.5681243, -79.29021329999999], "fully_vaccinated": 2026}, {"county": "Harford", "coordinates": [39.5838964, -76.3637285], "fully_vaccinated": 16498}, {"county": "Howard", "coordinates": [39.2873463, -76.964306], "fully_vaccinated": 19158}, {"county": "Kent", "coordinates": [39.2713804, -76.1319953], "fully_vaccinated": 1345}, {"county": "Montgomery", "coordinates": [39.1547426, -77.2405153], "fully_vaccinated": 70677}, {"county": "Prince_Georges", "coordinates": [38.78492110000001, -76.8720961], "fully_vaccinated": 84746}, {"county": "Queen_Annes", "coordinates": [39.0263572, -76.1319953], "fully_vaccinated": 2979}, {"county": "Somerset", "coordinates": [38.0862333, -75.8533954], "fully_vaccinated": 2600}, {"county": "St_Marys", "coordinates": [38.1060259, -76.3637285], "fully_vaccinated": 6001}, {"county": "Talbot", "coordinates": [38.7803973, -76.1319953], "fully_vaccinated": 2152}, {"county": "Washington", "coordinates": [39.641762, -77.719993], "fully_vaccinated": 14512}, {"county": "Wicomico", "coordinates": [38.3941813, -75.667356], "fully_vaccinated": 7622}, {"county": "Worcester", "coordinates": [38.1584227, -75.4344727], "fully_vaccinated": 3617}]'