In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password

In [2]:
connection_string = f"udxenurz:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['cases', 'vaccinations', 'gender']

In [3]:
df =pd.read_sql_query('select * from vaccinations', con=engine)

In [4]:
df

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020-12-14,Anne Arundel,2,2,0,0,0,0,0,0,0,2
1,2,2020-12-15,Anne Arundel,1,3,0,0,0,0,0,0,0,3
2,3,2020-12-16,Anne Arundel,54,57,0,0,0,0,0,0,0,57
3,4,2020-12-17,Anne Arundel,100,157,0,0,0,0,0,0,0,157
4,5,2020-12-18,Anne Arundel,169,326,0,0,0,0,0,0,0,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109,4110,2021-05-26,Worcester,65,26198,169,22401,17,2068,82,186,24469,28266
4110,4111,2021-05-27,Worcester,70,26268,125,22526,6,2074,76,131,24600,28342
4111,4112,2021-05-28,Worcester,51,26319,74,22600,13,2087,64,87,24687,28406
4112,4113,2021-05-29,Worcester,25,26344,17,22617,6,2093,31,23,24710,28437
4113,4114,2021-05-30,Worcester,7,26351,8,22625,3,2096,10,11,24721,28447

In [5]:
df["County"]= df["County"].astype(str)

In [6]:
counties = [{'county':"Allegany","coordinates":[39.6255251,-78.6114999]},{'county':"Anne_Arundel","coordinates":[38.9530109,-76.5488232]},{'county':"Baltimore","coordinates":[39.4647665,-76.7336521]},{'county':"Baltimore_City","coordinates":[39.2903848,-76.6121893]},{'county':"Calvert","coordinates":[38.49495030000001,-76.5025742]},{'county':"Caroline","coordinates":[38.9105018,-75.8533954]},{'county':"Carroll","coordinates":[39.5423418,-77.0564464]},{'county':"Cecil","coordinates":[39.5739403,-75.94632399999999]},{'county':"Charles","coordinates":[38.5221781,-77.10249019999999]},{'county':"Dorchester","coordinates":[38.4152819,-76.17837390000001]},{'county':"Frederick","coordinates":[39.3844507,-77.4701972]},{'county':"Garrett","coordinates":[39.5681243,-79.29021329999999]},{'county':"Harford","coordinates":[39.5838964,-76.3637285]},{'county':"Howard","coordinates":[39.2873463,-76.964306]},{'county':"Kent","coordinates":[39.2713804,-76.1319953]},{'county':"Montgomery","coordinates":[39.1547426,-77.2405153]},{'county':"Prince_Georges","coordinates":[38.78492110000001,-76.8720961]},{'county':"Queen_Annes","coordinates":[39.0263572,-76.1319953]},{'county':"Somerset","coordinates":[38.0862333,-75.8533954]},{'county':"St_Marys","coordinates":[38.1060259,-76.3637285]},{'county':"Talbot","coordinates":[38.7803973,-76.1319953]},{'county':"Washington","coordinates":[39.641762,-77.719993]},{'county':"Wicomico","coordinates":[38.3941813,-75.667356]},{'county':"Worcester","coordinates":[38.1584227,-75.4344727]},]

In [7]:
for county in counties:
    print(county)

{'county': 'Allegany', 'coordinates': [39.6255251, -78.6114999]}
{'county': 'Anne_Arundel', 'coordinates': [38.9530109, -76.5488232]}
{'county': 'Baltimore', 'coordinates': [39.4647665, -76.7336521]}
{'county': 'Baltimore_City', 'coordinates': [39.2903848, -76.6121893]}
{'county': 'Calvert', 'coordinates': [38.49495030000001, -76.5025742]}
{'county': 'Caroline', 'coordinates': [38.9105018, -75.8533954]}
{'county': 'Carroll', 'coordinates': [39.5423418, -77.0564464]}
{'county': 'Cecil', 'coordinates': [39.5739403, -75.94632399999999]}
{'county': 'Charles', 'coordinates': [38.5221781, -77.10249019999999]}
{'county': 'Dorchester', 'coordinates': [38.4152819, -76.17837390000001]}
{'county': 'Frederick', 'coordinates': [39.3844507, -77.4701972]}
{'county': 'Garrett', 'coordinates': [39.5681243, -79.29021329999999]}
{'county': 'Harford', 'coordinates': [39.5838964, -76.3637285]}
{'county': 'Howard', 'coordinates': [39.2873463, -76.964306]}
{'county': 'Kent', 'coordinates': [39.2713804, -76.1319953]}
{'county': 'Montgomery', 'coordinates': [39.1547426, -77.2405153]}
{'county': 'Prince_Georges', 'coordinates': [38.78492110000001, -76.8720961]}
{'county': 'Queen_Annes', 'coordinates': [39.0263572, -76.1319953]}
{'county': 'Somerset', 'coordinates': [38.0862333, -75.8533954]}
{'county': 'St_Marys', 'coordinates': [38.1060259, -76.3637285]}
{'county': 'Talbot', 'coordinates': [38.7803973, -76.1319953]}
{'county': 'Washington', 'coordinates': [39.641762, -77.719993]}
{'county': 'Wicomico', 'coordinates': [38.3941813, -75.667356]}
{'county': 'Worcester', 'coordinates': [38.1584227, -75.4344727]}

In [8]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [9]:
last_date = df[df['DATE'] == '2021-05-22']

In [10]:
last_date

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
159,160,2021-05-22,Anne Arundel,1115,284903,1366,228927,96,18752,1211,1462,247679,303655
401,402,2021-05-22,Allegany,35,25036,13,21779,15,2528,50,28,24307,27564
583,584,2021-05-22,Cecil,68,36532,122,29606,41,2346,109,163,31952,38878
707,708,2021-05-22,Carroll,238,81593,394,68040,27,7856,265,421,75896,89449
1059,1060,2021-05-22,Calvert,154,43688,67,35453,16,2943,170,83,38396,46631
1226,1227,2021-05-22,Frederick,862,130469,1452,106037,18,14126,880,1470,120163,144595
1448,1449,2021-05-22,Charles,204,67962,130,55421,18,3991,222,148,59412,71953
1564,1565,2021-05-22,Baltimore,1836,409651,2726,340942,121,28746,1957,2847,369688,438397
1633,1634,2021-05-22,Garrett,22,10542,17,9093,3,705,25,20,9798,11247
1866,1867,2021-05-22,Harford,425,120262,489,101213,50,10437,475,539,111650,130699
2088,2089,2021-05-22,Howard,1400,199482,1839,164442,23,12010,1423,1862,176452,211492
2252,2253,2021-05-22,Queen Anne's,45,23757,78,19662,9,2047,54,87,21709,25804
2500,2501,2021-05-22,St. Mary's,54,49004,32,41630,6,2622,60,38,44252,51626
2664,2665,2021-05-22,Talbot,45,18915,53,16626,12,2540,57,65,19166,21455
2691,2692,2021-05-22,Dorchester,49,11950,26,10116,4,1884,53,30,12000,13834
2781,2782,2021-05-22,Montgomery,2400,606931,2201,495235,169,39127,2569,2370,534362,646058
2935,2936,2021-05-22,Baltimore City,1125,244511,1493,199628,64,14583,1189,1557,214211,259094
3270,3271,2021-05-22,Somerset,11,8419,4,6758,2,722,13,6,7480,9141
3312,3313,2021-05-22,Prince George's,2443,379700,1846,302571,260,23721,2703,2106,326292,403421
3418,3419,2021-05-22,Caroline,47,11154,71,9742,2,2586,49,73,12328,13740
3654,3655,2021-05-22,Unknown,445,146215,451,107162,91,15313,536,542,122475,161528
3761,3762,2021-05-22,Wicomico,132,38165,62,32720,10,2942,142,72,35662,41107
3782,3783,2021-05-22,Kent,20,9285,26,8058,0,661,0,0,8719,9946
4086,4087,2021-05-22,Washington,259,52339,198,43171,4,9281,263,202,52452,61620
4105,4106,2021-05-22,Worcester,44,25994,30,22044,13,2035,57,43,24079,28029

In [11]:
temp = last_date.loc[last_date['County'] == "Washington"]
temp

        ID       DATE      County  Confirmed_cases
9589  9590 2021-05-22  Washington            14512

In [12]:
for county in counties:
    temp = last_date[last_date['County'] == county['county']]['Confirmed_cases'].item()
    county['fully_vaccinated'] = temp
counties

[{'county': 'Allegany',
  'coordinates': [39.6255251, -78.6114999],
  'fully_vaccinated': 6971},
 {'county': 'Anne_Arundel',
  'coordinates': [38.9530109, -76.5488232],
  'fully_vaccinated': 43617},
 {'county': 'Baltimore',
  'coordinates': [39.4647665, -76.7336521],
  'fully_vaccinated': 65361},
 {'county': 'Baltimore_City',
  'coordinates': [39.2903848, -76.6121893],
  'fully_vaccinated': 52627},
 {'county': 'Calvert',
  'coordinates': [38.49495030000001, -76.5025742],
  'fully_vaccinated': 4203},
 {'county': 'Caroline',
  'coordinates': [38.9105018, -75.8533954],
  'fully_vaccinated': 2330},
 {'county': 'Carroll',
  'coordinates': [39.5423418, -77.0564464],
  'fully_vaccinated': 9448},
 {'county': 'Cecil',
  'coordinates': [39.5739403, -75.94632399999999],
  'fully_vaccinated': 6261},
 {'county': 'Charles',
  'coordinates': [38.5221781, -77.10249019999999],
  'fully_vaccinated': 10767},
 {'county': 'Dorchester',
  'coordinates': [38.4152819, -76.17837390000001],
  'fully_vaccinated': 2816},
 {'county': 'Frederick',
  'coordinates': [39.3844507, -77.4701972],
  'fully_vaccinated': 19714},
 {'county': 'Garrett',
  'coordinates': [39.5681243, -79.29021329999999],
  'fully_vaccinated': 2026},
 {'county': 'Harford',
  'coordinates': [39.5838964, -76.3637285],
  'fully_vaccinated': 16498},
 {'county': 'Howard',
  'coordinates': [39.2873463, -76.964306],
  'fully_vaccinated': 19158},
 {'county': 'Kent',
  'coordinates': [39.2713804, -76.1319953],
  'fully_vaccinated': 1345},
 {'county': 'Montgomery',
  'coordinates': [39.1547426, -77.2405153],
  'fully_vaccinated': 70677},
 {'county': 'Prince_Georges',
  'coordinates': [38.78492110000001, -76.8720961],
  'fully_vaccinated': 84746},
 {'county': 'Queen_Annes',
  'coordinates': [39.0263572, -76.1319953],
  'fully_vaccinated': 2979},
 {'county': 'Somerset',
  'coordinates': [38.0862333, -75.8533954],
  'fully_vaccinated': 2600},
 {'county': 'St_Marys',
  'coordinates': [38.1060259, -76.3637285],
  'fully_vaccinated': 6001},
 {'county': 'Talbot',
  'coordinates': [38.7803973, -76.1319953],
  'fully_vaccinated': 2152},
 {'county': 'Washington',
  'coordinates': [39.641762, -77.719993],
  'fully_vaccinated': 14512},
 {'county': 'Wicomico',
  'coordinates': [38.3941813, -75.667356],
  'fully_vaccinated': 7622},
 {'county': 'Worcester',
  'coordinates': [38.1584227, -75.4344727],
  'fully_vaccinated': 3617}]

In [13]:
import json
json.dumps(counties)

'[{"county": "Allegany", "coordinates": [39.6255251, -78.6114999], "fully_vaccinated": 6971}, {"county": "Anne_Arundel", "coordinates": [38.9530109, -76.5488232], "fully_vaccinated": 43617}, {"county": "Baltimore", "coordinates": [39.4647665, -76.7336521], "fully_vaccinated": 65361}, {"county": "Baltimore_City", "coordinates": [39.2903848, -76.6121893], "fully_vaccinated": 52627}, {"county": "Calvert", "coordinates": [38.49495030000001, -76.5025742], "fully_vaccinated": 4203}, {"county": "Caroline", "coordinates": [38.9105018, -75.8533954], "fully_vaccinated": 2330}, {"county": "Carroll", "coordinates": [39.5423418, -77.0564464], "fully_vaccinated": 9448}, {"county": "Cecil", "coordinates": [39.5739403, -75.94632399999999], "fully_vaccinated": 6261}, {"county": "Charles", "coordinates": [38.5221781, -77.10249019999999], "fully_vaccinated": 10767}, {"county": "Dorchester", "coordinates": [38.4152819, -76.17837390000001], "fully_vaccinated": 2816}, {"county": "Frederick", "coordinates": [39.3844507, -77.4701972], "fully_vaccinated": 19714}, {"county": "Garrett", "coordinates": [39.5681243, -79.29021329999999], "fully_vaccinated": 2026}, {"county": "Harford", "coordinates": [39.5838964, -76.3637285], "fully_vaccinated": 16498}, {"county": "Howard", "coordinates": [39.2873463, -76.964306], "fully_vaccinated": 19158}, {"county": "Kent", "coordinates": [39.2713804, -76.1319953], "fully_vaccinated": 1345}, {"county": "Montgomery", "coordinates": [39.1547426, -77.2405153], "fully_vaccinated": 70677}, {"county": "Prince_Georges", "coordinates": [38.78492110000001, -76.8720961], "fully_vaccinated": 84746}, {"county": "Queen_Annes", "coordinates": [39.0263572, -76.1319953], "fully_vaccinated": 2979}, {"county": "Somerset", "coordinates": [38.0862333, -75.8533954], "fully_vaccinated": 2600}, {"county": "St_Marys", "coordinates": [38.1060259, -76.3637285], "fully_vaccinated": 6001}, {"county": "Talbot", "coordinates": [38.7803973, -76.1319953], "fully_vaccinated": 2152}, {"county": "Washington", "coordinates": [39.641762, -77.719993], "fully_vaccinated": 14512}, {"county": "Wicomico", "coordinates": [38.3941813, -75.667356], "fully_vaccinated": 7622}, {"county": "Worcester", "coordinates": [38.1584227, -75.4344727], "fully_vaccinated": 3617}]'