# JSON_covid19_gender - API Call

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password, username

In [2]:
connection_string = f"{username}:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['cases', 'vaccinations', 'gender']

In [3]:
df =pd.read_sql_query("SELECT * FROM gender", con=engine)

In [4]:
df

,ID,DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2020-12-14,Female,2,2,0,0,0,0
1,2,2020-12-15,Female,9,11,1,1,0,0
2,3,2020-12-16,Female,314,325,2,3,0,0
3,4,2020-12-17,Female,712,1037,0,3,0,0
4,5,2020-12-18,Female,1861,2898,2,5,0,0
...,...,...,...,...,...,...,...,...,...
526,527,2021-05-26,Other,41,23180,65,20291,12,2043
527,528,2021-05-27,Other,52,23232,41,20332,8,2051
528,529,2021-05-28,Other,34,23266,111,20443,6,2057
529,530,2021-05-29,Other,13,23279,66,20509,1,2058
530,531,2021-05-30,Other,2,23281,27,20536,2,2060

In [5]:
df['DATE'] = df['DATE'].astype(str)

In [6]:
latest_date = df.iloc[-1]['DATE']

In [7]:
latest_date

'2021-05-30'

In [8]:
last_date = df[df['DATE'] == latest_date]

In [9]:
last_date

,ID,DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
236,237,2021-05-30,Female,876,1703368,1652,1428620,97,113284
475,476,2021-05-30,Male,911,1390255,1901,1133844,231,117139
530,531,2021-05-30,Other,2,23281,27,20536,2,2060

In [10]:
gender_df = last_date[['Gender','SecondDoseCumulative']]
gender_df = gender_df.groupby(['Gender'])['SecondDoseCumulative'].sum()
gender_df

Gender
Female    1428620
Male      1133844
Other       20536
Name: SecondDoseCumulative, dtype: int64

In [11]:
gender_data = []
gender_dict = gender_df.to_dict()
gender_data.append(gender_dict)
gender_data

[{'Female': 1428620, 'Male': 1133844, 'Other': 20536}]

In [12]:
import json
json.dumps(gender_data)

'[{"Female": 1428620, "Male": 1133844, "Other": 20536}]'