# JSON_covid19_gender - API Call

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password, username

In [2]:
connection_string = f"{username}:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['cases', 'vaccinations', 'gender']

In [3]:
df =pd.read_sql_query("SELECT * FROM gender", con=engine)

In [4]:
df

,ID,DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
0,1,2021-04-13,Other,84295,84295,54201,54201,2952,2952
1,2,2021-04-14,Other,557,84852,11,54212,1,2953
2,3,2021-04-15,Other,623,85475,823,55035,19,2972
3,4,2021-04-16,Other,782,86257,1016,56051,8,2980
4,5,2021-04-17,Other,1136,87393,1177,57228,6,2986
...,...,...,...,...,...,...,...,...,...
515,516,2021-05-23,Male,3064,1356333,3841,1085515,474,112435
516,517,2021-05-24,Male,6257,1362590,7933,1093448,871,113306
517,518,2021-05-25,Male,4546,1367136,7182,1100630,572,113878
518,519,2021-05-26,Male,3965,1371101,4105,1104735,454,114332
519,520,2021-05-27,Male,1368,1372469,3219,1107954,238,114570

In [5]:
df['DATE'] = df['DATE'].astype(str)

In [6]:
latest_date = df.iloc[-1]['DATE']

In [7]:
latest_date

'2021-05-27'

In [8]:
last_date = df[df['DATE'] == latest_date]

In [9]:
last_date

,ID,DATE,Gender,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative
32,33,2021-05-27,Other,425,106624,674,90953,1,3106
261,262,2021-05-27,Other,29,23195,31,20298,6,2044
354,355,2021-05-27,Female,1544,1684438,3043,1403227,155,111875
519,520,2021-05-27,Male,1368,1372469,3219,1107954,238,114570

In [10]:
# gender_df = last_date['Gender'].to_list()
# second_dose = last_date['SecondDoseCumulative'].to_list()
gender_df = last_date[['Gender','SecondDoseCumulative']]
# gender_df = gender_df['Gender'].value_counts()
# gender_df = gender_df.set_index('Gender')
gender_df = gender_df.groupby(['Gender'])['SecondDoseCumulative'].sum()
gender_df

Gender
Female    1403227
Male      1107954
Other      111251
Name: SecondDoseCumulative, dtype: int64

In [11]:
gender_data = []
gender_dict = gender_df.to_dict()
gender_data.append(gender_dict)
gender_data

[{'Female': 1403227, 'Male': 1107954, 'Other': 111251}]

In [ ]:
import json
json.dumps()