In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password

In [2]:
connection_string = f"udxenurz:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['cases', 'vaccinations']

In [3]:
df =pd.read_sql_query('select * from vaccinations', con=engine)

In [4]:
df

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2021-02-23,Anne Arundel ...,1448,73871,1712,37353,0,0,0,0,37353,73871
1,2,2021-02-24,Anne Arundel ...,1384,75255,1783,39136,0,0,0,0,39136,75255
2,3,2021-02-25,Anne Arundel ...,2429,77684,1654,40790,0,0,0,0,40790,77684
3,4,2021-02-26,Anne Arundel ...,1972,79656,1137,41927,0,0,0,0,41927,79656
4,5,2021-02-27,Anne Arundel ...,1323,80979,484,42411,0,0,0,0,42411,80979
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,3938,2021-05-19,Washington ...,353,50678,596,40273,35,8778,388,631,49051,59456
3938,3939,2021-05-20,Washington ...,248,50926,658,40931,52,8830,300,710,49761,59756
3939,3940,2021-05-21,Washington ...,361,51287,430,41361,29,8859,390,459,50220,60146
3940,3941,2021-05-22,Washington ...,240,51527,166,41527,4,8863,244,170,50390,60390
3941,3942,2021-05-23,Washington ...,11,51538,14,41541,0,8863,0,0,50404,60401

In [5]:
counties = [{'county':"Allegany","coordinates":[39.6255251,-78.6114999]},{'county':"Anne_Arundel","coordinates":[38.9530109,-76.5488232]},{'county':"Baltimore","coordinates":[39.4647665,-76.7336521]},{'county':"Baltimore_City","coordinates":[39.2903848,-76.6121893]},{'county':"Calvert","coordinates":[38.49495030000001,-76.5025742]},{'county':"Caroline","coordinates":[38.9105018,-75.8533954]},{'county':"Carroll","coordinates":[39.5423418,-77.0564464]},{'county':"Cecil","coordinates":[39.5739403,-75.94632399999999]},{'county':"Charles","coordinates":[38.5221781,-77.10249019999999]},{'county':"Dorchester","coordinates":[38.4152819,-76.17837390000001]},{'county':"Frederick","coordinates":[39.3844507,-77.4701972]},{'county':"Garrett","coordinates":[39.5681243,-79.29021329999999]},{'county':"Harford","coordinates":[39.5838964,-76.3637285]},{'county':"Howard","coordinates":[39.2873463,-76.964306]},{'county':"Kent","coordinates":[39.2713804,-76.1319953]},{'county':"Montgomery","coordinates":[39.1547426,-77.2405153]},{'county':"Prince_Georges","coordinates":[38.78492110000001,-76.8720961]},{'county':"Queen_Annes","coordinates":[39.0263572,-76.1319953]},{'county':"Somerset","coordinates":[38.0862333,-75.8533954]},{'county':"St_Marys","coordinates":[38.1060259,-76.3637285]},{'county':"Talbot","coordinates":[38.7803973,-76.1319953]},{'county':"Washington","coordinates":[39.641762,-77.719993]},{'county':"Wicomico","coordinates":[38.3941813,-75.667356]},{'county':"Worcester","coordinates":[38.1584227,-75.4344727]},]

In [6]:
for county in counties:
    print(county)

{'county': 'Allegany', 'coordinates': [39.6255251, -78.6114999]}
{'county': 'Anne_Arundel', 'coordinates': [38.9530109, -76.5488232]}
{'county': 'Baltimore', 'coordinates': [39.4647665, -76.7336521]}
{'county': 'Baltimore_City', 'coordinates': [39.2903848, -76.6121893]}
{'county': 'Calvert', 'coordinates': [38.49495030000001, -76.5025742]}
{'county': 'Caroline', 'coordinates': [38.9105018, -75.8533954]}
{'county': 'Carroll', 'coordinates': [39.5423418, -77.0564464]}
{'county': 'Cecil', 'coordinates': [39.5739403, -75.94632399999999]}
{'county': 'Charles', 'coordinates': [38.5221781, -77.10249019999999]}
{'county': 'Dorchester', 'coordinates': [38.4152819, -76.17837390000001]}
{'county': 'Frederick', 'coordinates': [39.3844507, -77.4701972]}
{'county': 'Garrett', 'coordinates': [39.5681243, -79.29021329999999]}
{'county': 'Harford', 'coordinates': [39.5838964, -76.3637285]}
{'county': 'Howard', 'coordinates': [39.2873463, -76.964306]}
{'county': 'Kent', 'coordinates': [39.2713804, -76.1319953]}
{'county': 'Montgomery', 'coordinates': [39.1547426, -77.2405153]}
{'county': 'Prince_Georges', 'coordinates': [38.78492110000001, -76.8720961]}
{'county': 'Queen_Annes', 'coordinates': [39.0263572, -76.1319953]}
{'county': 'Somerset', 'coordinates': [38.0862333, -75.8533954]}
{'county': 'St_Marys', 'coordinates': [38.1060259, -76.3637285]}
{'county': 'Talbot', 'coordinates': [38.7803973, -76.1319953]}
{'county': 'Washington', 'coordinates': [39.641762, -77.719993]}
{'county': 'Wicomico', 'coordinates': [38.3941813, -75.667356]}
{'county': 'Worcester', 'coordinates': [38.1584227, -75.4344727]}

In [7]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [19]:
last_date = df[df['DATE'] == '2021-05-22']

In [26]:
last_date

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
89,89,2021-05-22,Anne Arundel ...,945,283164,938,225609,87,18683,1032,1025,244292,301847
259,256,2021-05-22,Baltimore ...,1546,407022,2276,336250,105,28545,1651,2381,364795,435567
393,394,2021-05-22,0,911,113719,1359,97276,9,3099,920,1368,100375,116818
544,545,2021-05-22,Allegany ...,24,24540,12,21137,8,2498,32,20,23635,27038
862,863,2021-05-22,Calvert ...,148,43494,54,35189,16,2941,164,70,38130,46435
1093,1094,2021-05-22,Cecil ...,58,36436,53,29321,22,2323,80,75,31644,38759
1190,1191,2021-05-22,Frederick ...,831,129971,1395,105006,14,14092,845,1409,119098,144063
1447,1448,2021-05-22,Charles ...,113,67610,85,55034,17,3984,130,102,59018,71594
1534,1535,2021-05-22,Garrett ...,23,10445,16,8969,1,704,24,17,9673,11149
1786,1787,2021-05-22,Baltimore City ...,935,243064,1279,197547,51,14403,986,1330,211950,257467
1879,1880,2021-05-22,Carroll ...,200,81158,345,67228,12,7818,212,357,75046,88976
2026,2027,2021-05-22,Harford ...,389,119626,369,99434,36,10382,425,405,109816,130008
2241,2242,2021-05-22,Howard ...,1325,198821,1626,162522,16,11958,1341,1642,174480,210779
2428,2429,2021-05-22,Dorchester ...,46,11914,18,10046,3,1874,49,21,11920,13788
2594,2595,2021-05-22,Queen Anne's ...,42,23681,63,19483,7,2043,49,70,21526,25724
2636,2637,2021-05-22,Somerset ...,11,8397,4,6733,2,709,13,6,7442,9106
2823,2824,2021-05-22,Wicomico ...,132,38126,58,32643,8,2884,140,66,35527,41010
3092,3093,2021-05-22,Worcester ...,41,25936,23,21878,13,2027,54,36,23905,27963
3117,3118,2021-05-22,St. Mary's ...,49,48900,29,41115,6,2621,55,35,43736,51521
3125,3126,2021-05-22,Montgomery ...,1838,604146,1931,490618,167,39055,2005,2098,529673,643201
3317,3318,2021-05-22,Caroline ...,46,11099,66,9676,1,2580,47,67,12256,13679
3425,3426,2021-05-22,Prince George's ...,2211,378271,1661,300301,257,23649,2468,1918,323950,401920
3523,3524,2021-05-22,Talbot ...,34,18875,22,16485,5,2527,39,27,19012,21402
3683,3684,2021-05-22,Unknown ...,359,144643,348,105475,84,15206,443,432,120681,159849
3783,3784,2021-05-22,Kent ...,18,9255,10,8021,0,660,0,0,8681,9915
3940,3941,2021-05-22,Washington ...,240,51527,166,41527,4,8863,244,170,50390,60390

In [28]:
last_date.iloc[1:20]

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
259,256,2021-05-22,Baltimore ...,1546,407022,2276,336250,105,28545,1651,2381,364795,435567
393,394,2021-05-22,0,911,113719,1359,97276,9,3099,920,1368,100375,116818
544,545,2021-05-22,Allegany ...,24,24540,12,21137,8,2498,32,20,23635,27038
862,863,2021-05-22,Calvert ...,148,43494,54,35189,16,2941,164,70,38130,46435
1093,1094,2021-05-22,Cecil ...,58,36436,53,29321,22,2323,80,75,31644,38759
1190,1191,2021-05-22,Frederick ...,831,129971,1395,105006,14,14092,845,1409,119098,144063
1447,1448,2021-05-22,Charles ...,113,67610,85,55034,17,3984,130,102,59018,71594
1534,1535,2021-05-22,Garrett ...,23,10445,16,8969,1,704,24,17,9673,11149
1786,1787,2021-05-22,Baltimore City ...,935,243064,1279,197547,51,14403,986,1330,211950,257467
1879,1880,2021-05-22,Carroll ...,200,81158,345,67228,12,7818,212,357,75046,88976
2026,2027,2021-05-22,Harford ...,389,119626,369,99434,36,10382,425,405,109816,130008
2241,2242,2021-05-22,Howard ...,1325,198821,1626,162522,16,11958,1341,1642,174480,210779
2428,2429,2021-05-22,Dorchester ...,46,11914,18,10046,3,1874,49,21,11920,13788
2594,2595,2021-05-22,Queen Anne's ...,42,23681,63,19483,7,2043,49,70,21526,25724
2636,2637,2021-05-22,Somerset ...,11,8397,4,6733,2,709,13,6,7442,9106
2823,2824,2021-05-22,Wicomico ...,132,38126,58,32643,8,2884,140,66,35527,41010
3092,3093,2021-05-22,Worcester ...,41,25936,23,21878,13,2027,54,36,23905,27963
3117,3118,2021-05-22,St. Mary's ...,49,48900,29,41115,6,2621,55,35,43736,51521
3125,3126,2021-05-22,Montgomery ...,1838,604146,1931,490618,167,39055,2005,2098,529673,643201

In [22]:
temp = last_date[last_date['County'] == 'Frederick']
temp

Empty DataFrame
Columns: [ID, DATE, County, FirstDoseDaily, FirstDoseCumulative, SecondDoseDaily, SecondDoseCumulative, SingleDoseDaily, SingleDoseCumulative, AtLeastOneDose, FullyVaccinated, FullVaccinatedCumulative, AtLeastOneDoseCumulative]
Index: []

In [14]:
for county in counties:
    temp = last_date[last_date['County'] == county['county']]['FullVaccinatedCumulative']
    county['fully_vaccinated'] = temp
counties

[{'county': 'Allegany',
  'coordinates': [39.6255251, -78.6114999],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Anne_Arundel',
  'coordinates': [38.9530109, -76.5488232],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Baltimore',
  'coordinates': [39.4647665, -76.7336521],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Baltimore_City',
  'coordinates': [39.2903848, -76.6121893],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Calvert',
  'coordinates': [38.49495030000001, -76.5025742],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Caroline',
  'coordinates': [38.9105018, -75.8533954],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Carroll',
  'coordinates': [39.5423418, -77.0564464],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Cecil',
  'coordinates': [39.5739403, -75.94632399999999],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Charles',
  'coordinates': [38.5221781, -77.10249019999999],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Dorchester',
  'coordinates': [38.4152819, -76.17837390000001],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Frederick',
  'coordinates': [39.3844507, -77.4701972],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Garrett',
  'coordinates': [39.5681243, -79.29021329999999],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Harford',
  'coordinates': [39.5838964, -76.3637285],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Howard',
  'coordinates': [39.2873463, -76.964306],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Kent',
  'coordinates': [39.2713804, -76.1319953],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Montgomery',
  'coordinates': [39.1547426, -77.2405153],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Prince_Georges',
  'coordinates': [38.78492110000001, -76.8720961],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Queen_Annes',
  'coordinates': [39.0263572, -76.1319953],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Somerset',
  'coordinates': [38.0862333, -75.8533954],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'St_Marys',
  'coordinates': [38.1060259, -76.3637285],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Talbot',
  'coordinates': [38.7803973, -76.1319953],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Washington',
  'coordinates': [39.641762, -77.719993],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Wicomico',
  'coordinates': [38.3941813, -75.667356],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)},
 {'county': 'Worcester',
  'coordinates': [38.1584227, -75.4344727],
  'fully_vaccinated': Series([], Name: FullVaccinatedCumulative, dtype: int64)}]

In [ ]:
import json
json.dumps(counties)