<h1 style="text-align:center;font-size:50px; background-color:pink; color: white"> Vaccines Clean up Process <h1>

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [3]:
csv_path = "./maryland_vaccinations.csv"
df = pd.read_csv(csv_path)

In [4]:
df

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/23 15:00:00+00,NaN,1.0,1,NaN,0,NaN,0,NaN,NaN,0,1
1,2,2021/01/04 15:00:00+00,NaN,1.0,2,NaN,0,NaN,0,NaN,NaN,0,2
2,3,2021/01/08 15:00:00+00,NaN,8000.0,8002,NaN,0,NaN,0,NaN,NaN,0,8002
3,4,2021/01/10 15:00:00+00,NaN,1.0,8003,NaN,0,NaN,0,NaN,NaN,0,8003
4,5,2021/01/11 15:00:00+00,NaN,NaN,8003,1.0,1,NaN,0,NaN,NaN,1,8003
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3930,3931,2021/05/16 15:00:00+00,Worcester ...,29.0,25238,20.0,21246,5.0,1950,34.0,25.0,23196,27188
3931,3932,2021/05/17 15:00:00+00,Worcester ...,120.0,25358,115.0,21361,19.0,1969,139.0,134.0,23330,27327
3932,3933,2021/05/18 15:00:00+00,Worcester ...,162.0,25520,124.0,21485,14.0,1983,176.0,138.0,23468,27503
3933,3934,2021/05/19 15:00:00+00,Worcester ...,115.0,25635,72.0,21557,5.0,1988,120.0,77.0,23545,27623
3934,3935,2021/05/20 15:00:00+00,Worcester ...,62.0,25697,59.0,21616,11.0,1999,73.0,70.0,23615,27696